<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HTML page name and path :: Fragment name -->
<!-- All locations are relative to the path: src/main/resources/templates -->
<head th:replace="common/header :: common-header"></head>

<body>
	<div th:replace="common/navbar :: common-navbar"></div>
	
	<div class="container">
		<div class="starter-template">
			<h1>Bootstrap starter template</h1>
			<p class="lead">use this document as a way to quickly start any new project.<br></br> All you get is this text and a mostly barebones HTML document.</p>
		</div>
	</div>
	
	<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>